@charset "UTF-8";

div.container {
    background-color: coral;

    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;  Permite que os itens se movam para a próxima linha quando não houver espaço suficiente */
    flex-wrap: wrap-reverse; /* Inverte a ordem de empacotamento dos itens */

    /* temos também o flex-flow; que é a combinação de flex-direction e flex-wrap evitando assim a necessidade de definir as duas propriedades separadamente */
}

div.box {
    width: 100px;
    height: 100px;
    background-color: #13492d;
    border: #000000 2px solid;
    color: white;
    margin: 4px;

    text-align: center;
    line-height: 100px; /* Alinha o texto verticalmente no centro da caixa */
}